[2019-07-05 16:13] Udayraj123 opened #5 "General Discussion/Comments (prefer discord)"
Comment here if anyone wants to discuss anything about the software

Discord link for quicker response: https://discord.gg/qFv2Vqf

[2019-07-19 11:53] Siva2406 commented on #5
Hey, when I try to run this on my local system with the sample you had in https://github.com/Udayraj123/OMRChecker/tree/master/inputs/OMR_Files_Sample/CityName/HE folder, I am getting **"Segmentation fault (core dumped)"** error.

[2019-07-19 11:58] Siva2406 commented on #5
I am looking for an automated evaluation of OMR sheets. Have attached  sample file for which I need to solve this. Don't know where to start for processing this. Is there any doc for the same?
![Original (1)](https://user-images.githubusercontent.com/22323218/61533382-5a40aa80-aa4a-11e9-849d-c4ada93c6642.jpeg)

[2019-07-19 13:56] Udayraj123 commented on #5
Hi @Siva2406,
You can check this section in the readme:
https://github.com/Udayraj123/OMRChecker/blob/master/README.md#applying-it-on-your-o

[2019-07-19 13:58] Udayraj123 commented on #5
Also, can you tell me the steps you followed/commands used to run the code?

[2019-07-19 14:06] Siva2406 commented on #5
Sure, did the setup on Ubuntu 16.04 and ran the code with sample files available the repo. Please find the code I used.

`sudo apt-get update -y
sudo apt-get upgrade -y
sudo reboot
python3 -m pip install --user --upgrade pip
wget https://bootstrap.pypa.io/get-pip.py
sudo python3 get-pip.py
python3 -m pip install --user --upgrade pip
python3 -m pip install --user opencv-python
python3 -m pip instal

[2019-07-19 14:12] Siva2406 commented on #5
Even I tried steps mentioned [here ](https://github.com/Udayraj123/OMRChecker/wiki/User-Guide)to create custom layout template. But, whatever I do, I am getting **"Segmentation fault (core dumped)"** error.

[2019-07-19 14:21] Siva2406 opened #6 "Installing opencv on a fresh droplet : segmentation fault (core dumped)"
Did the setup on Ubuntu 16.04 and ran the code with sample files available the repo. Please find the code I used.

`sudo apt-get update -y`
`sudo apt-get upgrade -y`
`sudo reboot`
`python3 -m pip install --user --upgrade pip`
`wget https://bootstrap.pypa.io/get-pip.py`
`sudo python3 get-pip.py`
`python3 -m pip install --user --upgrade pip`
`python3 -m pip install --user opencv-python`
`python3 -m

[2019-07-19 14:21] Siva2406 commented on #6
Even I tried steps mentioned [here ](https://github.com/Udayraj123/OMRChecker/wiki/User-Guide)to create custom layout template. But, whatever I do, I am getting **"Segmentation fault (core dumped)"** error.

[2019-07-19 19:54] Udayraj123 commented on #6
It's an issue with file permissions. You have used `sudo cp` there. Remove the files and try again without sudo

[2019-07-20 05:47] Siva2406 commented on #6
Even after doing that, I am getting the same error. I have logged in as root and executed the command.  Currently, following is the permission set for the files,
![Untitled](https://user-images.githubusercontent.com/22323218/61574444-85280e80-aadd-11e9-9c03-e9d33caa8bbe.png)

Let me know what permission should I set to resolve the issue. Please find my cmds below,

 1  `sudo apt-get update -y`
 2

[2019-07-20 05:52] Udayraj123 commented on #6
No need to login as root/Administrator! Execute all the commands as a normal user

[2019-07-20 06:12] Siva2406 commented on #6
I am running this on cloud machine with root privileges. Should I create new user and run these cmds?What difference this gonna make? In such case, what privileges should I set while creating the new user.

[2019-07-20 06:25] Udayraj123 commented on #6
Okay, sorry I assumed you'd be on a PC. As such there shouldn't be any problem. Can you join in on discord so as to solve this prob faster? (see readme for link)

[2019-07-20 06:26] Siva2406 commented on #6
Sure.

[2019-07-20 09:56] Udayraj123 commented on #6
So the issue has now boiled down to improper opencv installation, causing the `import cv2` line to fail:
Here are related discussions to help you solve it:

[2019-07-20 10:25] Udayraj123 commented on #6
On a clean droplet, some of these libraries get missing. Following [Adrian's blog](https://www.pyimagesearch.com/2018/05/28/ubuntu-18-04-how-to-install-opencv/), you should install the following explicitly now(after pip install is done).
[code]

[2019-07-21 09:21] Udayraj123 commented on #6
@Siva2406  Is your issue solved now?

[2019-07-22 07:20] Siva2406 commented on #6
Yes. I am able to proceed now. Thanks for your support.

[2019-07-22 08:26] #6 closed

[2019-08-11 05:47] Udayraj123 opened #9 "Ideas/Feedback"
Discuss any ideas or suggestions/feedbacks you have here.

[2019-08-14 15:20] utkarshrai2 commented on #5
Hi Uday nice repo.
Could u explain the difference between gaps and bigGaps?

[2019-08-16 20:04] andreemidio commented on #5
Hi @utkarshrai2

Gaps is the distance of the balls to each other.
Big Gaps is the distance between the columns.
Important note : The Bubble dimensions is important when you measurement of Gaps and BigGaps

[2019-08-21 11:59] utkarshrai2 commented on #5
I want to use some custom OMR_Marker, are there any marker specific constants in the code. Because i am having some spacing issue when i am  setting the layout with a custom marker

[2019-08-21 12:00] utkarshrai2 commented on #5
But we are setting origin for each column separately, so whats the utility of bigGap

[2019-08-21 12:06] Udayraj123 commented on #5
If you could share a sample image and the marker on your forked repo, we can help you configure it

[2019-08-21 12:09] Udayraj123 commented on #5
@utkarshrai2 there are multiple ways to set the same grid layout. Biggaps help you do it in a minimal way.
Especially when the layout is a grid of small grids(Qblocks). Biggap is the gap between those Qblocks. Hope I'm clear

[2019-11-03 07:34] inglesuniversal opened #11 "Error while testing OMRChecker"
Hello:

Got this error when launching the main.py script... any ideas?

I'm running an AWS Bitnami LAMP Server which I just updated to python 3

Here is what happened:

~/OMRChecker$ python3 main.py

Traceback (most recent call last):
  File "main.py", line 13, in <module>
    import cv2
  File "/home/bitnami/.local/lib/python3.5/site-packages/cv2/__init__.py", line 3, in <modu
le>
    from .cv2 i

[2019-11-03 16:58] Udayraj123 commented on #11
@inglesuniversal it looks like an issue with opencv setup. Can you try this in your terminal -
[code]
If it is still giving the same error, then you may need to reinstall opencv.

[2019-11-03 16:59] Udayraj123 commented on #11
This might help -
https://stackoverflow.com/questions/52547833/have-trouble-with-opencv-import

[2019-11-03 21:02] inglesuniversal commented on #11
STEP 1:

~$ python3
Python 3.5.2 (default, Oct  8 2019, 13:06:37)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/bitnami/.local/lib/python3.5/site-packages/cv2/__init__.py", line 3, in <module>
    from .cv2 import *
ImportError: libXrender.so.1: cannot open

[2019-11-03 21:05] inglesuniversal commented on #11
STEP 2

$ sudo apt-get install libxrender1
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  libxrender1
0 upgraded, 1 newly installed, 0 to remove and 76 not upgraded.
Need to get 18.5 kB of archives.
After this operation, 80.9 kB of additional disk space will be used.
Get:1 http://us-east-1.ec2.archive.ubuntu.

[2019-11-03 21:07] inglesuniversal commented on #11
STEP 3

~$ python3
Python 3.5.2 (default, Oct  8 2019, 13:06:37)
[GCC 5.4.0 20160609] on linux
Type "help", "copyright", "credits" or "license" for more information.

NO ERRORS!!!! Will test again....

[2019-11-03 21:19] inglesuniversal commented on #11
STEP 4 (running test)

~/OMRChecker$ python3 main.py
Checking Directories...
Present : outputs/CheckedOMRs/
Present : outputs/Manual/
Present : outputs/Results/
Present : outputs/Manual/MultiMarkedFiles/
Present : outputs/Manual/ErrorFiles/
Present : outputs/Manual/BadRollNosFiles/
Found marker at: inputs/omr_marker.jpg Shape: (159, 160)

Checking Files...
Present : appending to outputs/Results/Re

[2019-11-04 17:42] udayraj-ud commented on #11
Yes, given current settings. As it is showing "(1) Opening image", it means showimglvl is a value greater than 0. Now since you are running it via ssh on a remote computer, there is no display to show the image (thus the message `: cannot connect to X server`). You can disable image showing by setting showimglvl to 0 in `globals.py` file. And after the program finishes checking, you can see the ou

[2019-11-04 17:44] udayraj-ud commented on #11
Although it is recommended to set up the project on a local computer first.
OMRChecker is pretty light weight and the mentioned speed '200 OMRs/min' is calculated on a personal laptop with 8GB ram.  Once you have done the tuning with sample images, then you can easily run it in one go on a bigger dataset on the remote machine

[2019-11-04 19:33] inglesuniversal commented on #11
AMAZING!!!! It worked beautifully!!!

LOG...

(1) Opening image:  inputs/OMR_Files/MobileCameraBased/JE/sheet1.jpg Resolution:
  (1240, 930)
Found page corners:  [[728, 832], [205, 824], [197, 332], [670, 330]]
Matching Marker: Q1: maxT 0.532Q2: maxT 0.622Q3: maxT 0.777Q4: maxT 0.693Sca
le 0.94
Thresholding: globalTHR:  169.31 globalStdTHR:  11.22
Saving Image to outputs/CheckedOMRs/JE/MobileCamer

[2019-11-05 04:47] Udayraj123 commented on #11
Can you please join in the discord group? It'd be convenient to discuss there https://discord.gg/qFv2Vqf

[2019-11-07 16:46] Udayraj123 commented on #11
Closing this issue as the problem mentioned in the title is resolved :)

[2019-11-07 16:46] #11 closed

[2020-03-27 12:23] alesdev commented on #9
In my opinion would be useful:
1. Have a second chance to correct the answers;
2. Create templates with Latex;

[2020-03-28 06:53] Udayraj123 commented on #9
@alesdev Thanks for sharing these :)
For first one do you mean to say there should be a way to detect cross marks separately?

and for second one, we can have a template Latex/Word document for the user. After modification, they can input a screenshot of the template and OMRChecker should be able to detect template from the image(which is a task in one of the future [TODOs](https://github.com/Uday

[2020-06-01 13:46] eabdollahian opened #22 "find all question as answer for unanswered question"
I have problem. I have a sheet that when correct with this code in some question find two or more answer.
this is my answer sheet
![image](https://user-images.githubusercontent.com/9780002/83414733-3e13e500-a433-11ea-93b2-9aff1a0b1833.png)

and correction is like this
![image](https://user-images.githubusercontent.com/9780002/83414919-83381700-a433-11ea-8758-cfd23b1a43d1.png)

after 80 , correctio

[2020-06-06 10:37] pankaj399 opened #23 "template using circles??"

[2020-06-09 17:29] #23 closed

[2020-10-31 14:34] vijuc895 commented on #5
Hi @Udayraj123 I tried to configure the grid layout but unable to get the perfect match. Let me know if you could help
![Blank OMR Sample](https://user-images.githubusercontent.com/43551239/97781888-4031c980-1bb4-11eb-941e-051e4a2a42e8.jpeg)

[2020-11-16 19:09] tensorboy commented on #22
Hi @Udayraj123

I have same issues, here is my picture:
![IMG-0299](https://user-images.githubusercontent.com/17189055/99296578-d7755e80-27fb-11eb-8b4c-44e1e07f8367.JPG)
template:

`{
  "Dimensions": [
    1846,
    1500
  ],
  "BubbleDimensions": [
    40,
    40
  ],
  "Options": {
    "Marker": {
      "RelativePath": "omr_marker.jpg",
      "SheetToMarkerWidthRatio": 17
    },
    "OverrideFla

[2020-12-29 13:00] sudarshan55 opened #28 "creating exe and using with the bunch of images"
I created template.json and I am using it to detect the bubbles. But now I want to generate an exe file and use the code with a folder containing the multiple sheets. so how could I do this with existing code

[2021-01-25 18:11] almutaealim commented on #28
do u wanna work on single active sheet at a time?

[2021-03-01 06:46] tamnguyenvan opened #29 "Understanding template format"
Dear team,
Huge thanks for this amazing project.
I'm wondering where I can find template format description in details? Sorry if I missed something. But I don't understand what `Concatenations`, `Singles` mean?

[2021-03-01 07:42] Udayraj123 commented on #29
Hi @tamnguyenvan,
Have you checked the project wiki? There is a step by step guide on the process of making a template format -
https://github.com/Udayraj123/OMRChecker/wiki

Most of the fields will stay in the `Singles` key. The `Contatenations` key is a way to tell OMRChecker which fields to concatenate when generating the output csv e.g. for Roll number columns you may want to concatenate the f

[2021-03-01 07:48] Udayraj123 commented on #28
Generating an exe file with a not-so-large size is still a challenge and may require porting the code. It is not currently in the scope of this project. Setting up opencv on python is a necessity as of now. You may want to consider running the code on Google Colab perhaps, with your images imported via google drive.
Closing this as `not an issue`.
Any discussions are welcome in the discord group (

[2021-03-01 07:48] #28 closed

[2021-03-01 07:50] Udayraj123 commented on #22
@tensorboy I think your issue was fixed in discord group. New comers with similar issues may head on there for a solution. Closing now. Feel free to reopen if there's any pending query :)

[2021-03-01 07:50] #22 closed

[2021-03-01 08:30] tamnguyenvan commented on #29
Hi @Udayraj123 , thanks for your quick reply.
I've checked the wiki carefully. But I couldn't find any document about the concept such as `Singles`, `Contatenations`, `QBlocks`, `qType`. Did I miss something? Sorry if I was wrong.

[2021-03-01 08:35] Udayraj123 commented on #29
You're right about that. The wiki seems to have only a basic example there. Rest of it was meant to be understood by running the samples I think. If you could start a discussion over this in the [discord group](https://discord.gg/qFv2Vqf), I'd be able to help you quickly.

[2021-03-01 09:04] tamnguyenvan commented on #29
@Udayraj123 , thanks. I just started a discussion. Please check

[2021-06-14 15:17] ramknivas opened #30 "Setting dimensions dynamically"
Hi,

In my requirement, I want to set dimension and orig as per respective dimension of OMR sheet dynamically.
I tried setting up the the "dims" array of template object inside process_files for loop. Although I can see that dimension have been added to the template object as per file\, the output doesn't reflect that.
If I manually put the dimension values the get reflected to the output correctl

[2021-06-17 06:16] udayrajMT commented on #29
closing as the query has been answered in the comments of the template json here
https://github.com/Udayraj123/OMRChecker/wiki/About-Templates

[2021-06-17 06:16] #29 closed

[2021-06-17 06:54] udayrajMT commented on #30
I'd appreciate if you could explain the usecase using some sample images... I think we anyway resize all input images to a common dimension which works for most cases.

[2021-10-18 06:47] suresh2k02 opened #31 "ORM HELP"
results.csv is showing only index like rollno,q1.q20 etc...i want ans along with score,key can you explain more in detail thanks.

[2021-11-01 04:27] balaji-ch commented on #5
Hi Raj,
How did you create those GIFs ?

[2021-11-02 16:41] Udayraj123 commented on #31
@suresh2k02 as discussed over discord group, there's no intended support for calculating score based on answer key. That part can be implemented using simple excel formulae. Or as you did in your case, achieved by slightly tweaking the code.

[2021-11-02 16:43] Udayraj123 commented on #31
@TarnWilliamsonInvivo yes ticks and crosses are not detected easily using the algorithm used in OMRChecker. If you have a suggestion or find a way to integrate with it, please drop an email or message :)

Closing as original issue resolved over discord group.

[2021-11-02 16:43] #31 closed

[2021-11-02 16:43] Udayraj123 commented on #30
Closing due to inactivity. Feel free to reopen

[2022-01-17 11:33] olzenkhaw commented on #5
![IMG_2519](https://user-images.githubusercontent.com/54525041/149762098-58193542-3361-4ff5-9a9a-a81bc2522df2.JPG)
This is the omr I used to test.
`{
    "Dimensions": [
        960,
        1280
    ],
    "BubbleDimensions": [
        90,
        25
    ],
    "Concatenations": {},
    "Singles": [
		"q1",
		"q2",
		"q3",
		"q4",
		"q5",
		"q6",
		"q7",
		"q8",
		"q9",
		"q10",
		"q11",
		"q12",

[2022-01-19 18:43] purusello commented on #5
Sorry for my english. I want know if I can use scanned images without border. When I use them I get the message "Paper boundary not found! Should you pass --noCropping flag?" If I use --noCropping, did I need the marker icon ?

Thanks

[2022-01-20 05:28] olzenkhaw commented on #5
I have tried not to use the marker icon with --noCropping, it still work perfectly with scanned images. The scanned images must be the same size, same orientation etc...

[2022-01-29 16:15] Udayraj123 commented on #5
@purusello yes you need the `noCropping` flag. And marker icon is not necessary to use, to skip using it simply remove the "marker_path" entry from your template.json

[2022-01-29 16:15] Udayraj123 commented on #5
@balaji-ch the GIFs were created using a small script which is no more part of the codebase :)

[2022-01-29 16:16] Udayraj123 commented on #5
@vijuc895 if you are still facing the issue, head over to the Discord group for quicker help! Link is in Readme

[2022-02-01 10:30] purusello commented on #5
If some scanned paper is distorted, why don't to use the marker to adjust, what do you think @vijuc895 ?

[2022-02-07 11:04] daviddeleeuw opened #33 "Barcodes ?"
Hi,
This looks really great. Any plans to add a barcode reading option ?
Thanks
David de Leeuw
Israel

[2022-09-29 16:16] Udayraj123 commented on #5
For newcomers - prefer discussion [on discord](https://discord.gg/qFv2Vqf) for better response

[2022-09-29 16:18] Udayraj123 commented on #9
Closing as discussion [moved to discord](https://discord.gg/p6zMRd2CCR).

[2022-09-29 16:18] #9 closed

[2022-09-29 17:27] Udayraj123 opened #34 "[Readme] Clearer setup instructions"
As you setup OMRChecker on your own machine, mark your first contribution with the following

1. You can update the [Getting Started](https://github.com/Udayraj123/OMRChecker#getting-started) section with better instructions that makes the setup experience smoother.
2. For a start, you can create a different section for setting up on Windows/Linux, etc. Also, the `Installing missing libraries` sec

[2022-09-29 17:28] Udayraj123 opened #35 "[Get Familiar]: Improve logging"
Some ideas for logs:

1.  Explore the code based on the logs you see.
2. Add log levels to them as part of your first contribution!
3. If tidy readable outputs interest you, try using colorama to indicate log levels
4. You can also propose "modes" of logs: dev/user/minimal/silent

**Note:** this issue is marked with the `hacktoberfest` label. Follow `#hacktoberfest-discussions` [on Discord](https:

[2022-09-29 17:48] Rohan-G commented on #34
Hey, can I work on this for hacktoberfest?

[2022-09-29 17:49] Udayraj123 opened #36 "[Feature][Core] Auto Rotating the OMR sheet"
We want to be able to identify and correct rotation of input images

Some ideas
1. Firstly, we can take expected page orientation(portrait/landscape) from user.
2. For a start, check for height-width ratio and always rotate clockwise (ignore wrongly rotated images, will be separated later).
3. Try both clockwise and anti-clockwise corrections and the one with the "more correct" histogram will be c

[2022-09-29 18:00] Udayraj123 commented on #34
Feel free! There's more issues coming, you can start with it :)

[2022-09-29 18:01] Udayraj123 commented on #34
Please reach out on discord for any queries/help.

[2022-09-29 18:57] Udayraj123 opened #37 "[Feature] Generate Template Layout directly from a reference OMR image"
Right now, we need to follow a [tedious](https://github.com/Udayraj123/OMRChecker/wiki/User-Guide) [method](https://github.com/Udayraj123/OMRChecker/wiki/About-Templates) of creating template.json files. There are two ways to simplify this for a start.

1. Create a drag and drop type interface that let's us make a template overlay and export it as a json file.
2. Input a single fully-bubbled omr s

[2022-09-29 19:08] Udayraj123 opened #38 "[Feature][Non core] Create visual guides for better tuning/debugging"
Current control that we use over debugging OMRChecker for new images is by setting `showimglvl` to 1 through 6. It is still sometimes not very effective for large number of images. We need a non-intrusive visual guide that helps tune our config for each type of images.

Experienced in data visualizations/analytics?
- Contact the developer for a dataset.

**Note:** this issue is marked with the `ha

[2022-09-29 19:09] Udayraj123 opened #39 "[Enhancement][Core] Calculate thresholding confidence using data"
The core logic of OMRChecker revolves around finding the correct separation between Marked and Unmarked bubbles. We want to let the user know if it has been determined confidently.

![Image](https://user-images.githubusercontent.com/16881051/193101955-028e3c07-b315-49bc-b3b1-02727b96934e.png)

In the above image there are two possible thresholds based on the jumps in the histogram. In such cases t

[2022-09-29 19:10] Udayraj123 commented on #5
For contributors looking for more tasks - check [Project board](https://github.com/users/Udayraj123/projects/1/views/2) as well.

[2022-09-29 19:17] Udayraj123 opened #40 "[Get Familiar][Non core] Submit your sample image and template!"
As you setup OMRChecker and run samples according to the Readme, you would maybe want to try it on new public images or some of your own. This issue is created to accept new submissions. This is your chance to feature your template and image in the [samples section](https://github.com/Udayraj123/OMRChecker/tree/master/samples)!

Steps to follow -
1. Pick any OMR sheet image(s) that you can use pub

[2022-09-29 19:24] Udayraj123 opened #41 "[New Idea] Want to work on making a browser interface?"
There is a project under progress to migrate OMRChecker into the browser(currently in a private repository). It shall eradicate the need of having to install python or opencv on user's device.

Contact the developer to get access and updates.

**Note:** this issue is marked with the `hacktoberfest` label. Follow `#hacktoberfest-discussions` [on Discord](https://discord.gg/ANUuzsrpVV) for further d

[2022-09-29 19:32] Udayraj123 opened #42 "[Get Familiar][Core] Improve output image labels"
Steps
1. Follow Readme to setup and run OMRChecker
2. Set show_image_level = 4 or 5
3. Run OMRChecker on sample images
4. For each image that you see, try to add appropriate labels to each output image using cv2.putText, etc so that they are more understandable. For any queries discuss in discord.
5. You can create them in separate PRs if needed.

**Note:** this issue is marked with the `hacktober

[2022-09-29 19:44] Udayraj123 opened #43 "[Get Familiar] Add schema validation for template configuration"
Right now, OMRChecker does not handle invalid template.json files. It simply tries to process the file and throws an errors.

We want to extend that an do a json schema validation for the file.

Steps:
1. Study current structure of the [Template file](https://github.com/Udayraj123/OMRChecker/wiki/User-Guide)
2. Create a json schema for the same.
3. Use python-jsonschema or similar library to throw

[2022-09-29 19:52] Udayraj123 opened #44 "[Learning][Core] Add more step-wise images for intuitive understanding"
Best part of working with opencv is visually seeing each step. OMRChecker provides a way to see the [step-wise images](https://github.com/Udayraj123/OMRChecker/wiki/Rich-Visuals). But they have a scope to improve.

Steps
1. Learn about existing step-wise images that OMRchecker generates (set showimglvl to 4 or 5)
2. Propose and discuss which images can be added to the steps for intuitive understan

[2022-09-29 20:03] Udayraj123 opened #45 "[Getting Familiar][Core] Change default behavior to use --noCropping flag"
The `--noCropping` flag is particularly annoying to new users who have scanned images(as opposed to mobile camera).

**Steps**
1. Understand how CLI args are parsed in OMRChecker
2. Change --noCropping flag into --enableCropping with default value as `false`
3. Update Readme as well as Wiki documentation reflecting above change.

Currently we have [this](https://github.com/Udayraj123/OMRChecker#fu

[2022-09-30 09:16] issac5693 commented on #40
should the sample image be a omr one ad what is a template

[2022-09-30 10:05] Udayraj123 commented on #40
@issac5693 Yes it should look like any of the existing samples.

A template.json file is needed for OMRChecker to identify the bubble positions to use (see image)
<img width="193" alt="image" src="https://user-images.githubusercontent.com/16881051/193246935-c6258c30-24ad-4977-bc1b-519ab470d2c2.png">

Checkout [User Guide](https://github.com/Udayraj123/OMRChecker/wiki/User-Guide) for more details

[2022-10-01 08:16] Udayraj123 commented on #45
This issue is now fixed by #46 as this flag is deprecated and its configuration is moved to template.json

[2022-10-01 08:16] #45 closed

[2022-10-01 08:18] Udayraj123 commented on #34
@Rohan-G I have updated the description with more details, can you include them in your change as well?

[2022-10-01 08:48] Udayraj123 opened #47 "[Logging] Reduce noise in logging and generated files"
Currently there are some csv files and directories created in each of the input directories i.e. ErrorFiles, MultiMarkedFiles and BadRollNoFiles. Since they are not yet implemented for general use, they are created and left out empty. This leads to a lot of unnecessary files getting created and extra logs for the same.

Fixing it requires removing some unused/redundant file creations.

[2022-10-01 10:28] paranjay14b opened #50 "[DevX] Improve the developer experience by fixing minor issues"
Some minor issues I observed while running a sanity check of OMRChecker on my machine.

1. Unnecessary output folder created: `_MULTI_/stack` for sample1.
2. Spacing issue in the output `Matching Marker:	 Q1: max_t 0.451	Q2: max_t 0.582	Q3: max_t 0.692Q4: max_t 0.547	Optimal Scale: 0.46`. Also the name Q1, Q2, etc. can be changed to something more readable.
3. Output file naming: need correction i

[2022-10-01 10:51] Udayraj123 commented on #50
Noted.

[2022-10-01 20:42] asi309 commented on #41
Hi @Udayraj123 Can we discuss this? I am willing to work on this

[2022-10-01 22:07] Udayraj123 commented on #41
Hi @asi309, sure. Can we connect on discord? We can discuss this in the #general-ideas-discussion channel for a start. If it takes some shape I'll create a new channel.

[2022-10-02 05:14] infinity1729 commented on #44
Can I try this issue?

[2022-10-02 05:17] Udayraj123 commented on #44
@infinity1729 sure. Let me know if you need any help. Do share what you've done till now (setup, running samples etc)

[2022-10-02 06:23] UjjwalMahar opened #53 "[Windows]<ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'>"

[2022-10-02 06:23] UjjwalMahar opened #54 "[Windows] ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'"
I was facing the issue <ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'> on  Windows after I used the command:

$ python3 -m pip install --user -r requirements.txt

![P1](https://user-images.githubusercontent.com/111011580/193441325-c0cac196-0df8-4627-aee4-558561c6bc18.png)

[2022-10-02 06:24] #53 closed

[2022-10-02 06:40] infinity1729 opened #55 "[Windows] AttributeError: 'FigureCanvasTkAgg' object has no attribute 'set_window_title'"
## Environment
Windows OS, with matlplotlib version >=3.6.0

## Steps to reproduce

1) Open `OMRChecker\src\defaults\config.json`
2) Line 24: Set show image level to anything >=5 say `"show_image_level": 5,`
3) From the command line run: `python3 main.py -i samples/sample1`

## Details
[code]

This issue is potentially caused by latest release of matplotlib. (Refer: https://matplotlib.org/stable/a

[2022-10-02 06:45] Udayraj123 commented on #55
Do you wish to pick this up by yourself? I can assign it to you.

[2022-10-02 06:48] infinity1729 commented on #55
Yes, I am interested to work on this. Thanks for assigning it to me.

[2022-10-02 06:59] Udayraj123 commented on #54
@UjjwalMahar so the issue was solved without having to pass absolute path. Only had to cd into the correct directory. Which in your case was `OMR\ Checker/OMRChecker`. Got it.  `good first issue` 👏

Now for your own practice, can you share the solution you found out here?

[2022-10-02 06:59] UjjwalMahar commented on #54
yes sure

[2022-10-02 06:59] UjjwalMahar commented on #54
I was facing the issue <ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'> on  Windows after I used the command:

`$ python3 -m pip install --user -r requirements.txt`

![P1](https://user-images.githubusercontent.com/111011580/193441325-c0cac196-0df8-4627-aee4-558561c6bc18.png)

**You can resolve it by following the steps :**

--> _It can happen if yo

[2022-10-02 07:03] Udayraj123 commented on #54
Great! This shall help anyone facing a similar issue now. Thanks for documenting @UjjwalMahar. Closing the ticket now.

[2022-10-02 07:05] Udayraj123 commented on #54
Okay let's have you make a change in the read me.

[2022-10-02 07:57] #50 closed

[2022-10-02 08:21] UjjwalMahar commented on #54
Okay

[2022-10-02 15:43] 05Alston commented on #42
Hey, can I try to solve this?

[2022-10-02 16:21] Udayraj123 commented on #42
sure @05Alston, you can discuss your approach or ask for any help in the discord channel. Link in description.

[2022-10-02 17:10] Udayraj123 commented on #55
Closing this issue as resolved.

[2022-10-02 17:10] #55 closed

[2022-10-03 05:15] SpyzzVVarun commented on #43
Hi @Udayraj123 , should the schema be created exactly for the template file mentioned here: [Template File](https://github.com/Udayraj123/OMRChecker/wiki/User-Guide) ?

[2022-10-03 05:25] Udayraj123 commented on #43
That's correct. The same schema can also be found for all template.json files in samples folder

[2022-10-03 05:28] SpyzzVVarun commented on #43
But the samples have additional things mentioned as well right? For eg: they all have detailed concatenations wheras this template does not give any specifications for it.

[2022-10-03 15:38] Udayraj123 commented on #43
You can create incorrect template.json files by removing some of the mandatory keys, or changing their camelCase to TitleCase for keys(in which case validation error should mention that).
Setting 3rd dimension worked as code can run fine because it is written gracefully. Still we need the validation error to be thrown as a caution for future changes.

[2022-10-03 17:28] Antibodyy commented on #40
Hey. Can I take up this issue?

[2022-10-03 17:36] SpyzzVVarun commented on #43
Have generated a draft PR, do let me know if this is what you were expecting.

[2022-10-03 18:45] Udayraj123 commented on #40
Hi @Antibodyy can you create a PR or a draft PR for this? Then I can assign it to you. Hope you've started a discussion discord as well

[2022-10-03 19:07] ibrahimkilic opened #61 "[Feature Request] i need 0('N')-1('Y') with one bubble... is it possible?"
I want 'yes' when bubble is full and 'no' when empty, in result csv file.... is it posible?
![example](https://user-images.githubusercontent.com/10168961/193658401-66b83995-b915-4e81-a961-457ce7ad0604.jpg)

[2022-10-03 19:09] Udayraj123 commented on #34
@Rohan-G mention the issue in that PR's description. Then we can close it

[2022-10-03 19:58] infinity1729 opened #62 "[Bug][Windows] TypeError: unsupported operand type(s) for *: 'DotMap' and 'float'"
## Description
Multiplication is being performed between DotMap and float data type, for image level 2,3.

## Steps to reproduce
Steps to reproduce the behavior:
1. Open OMRChecker\src\defaults\config.json
2. Line 24: Set show image level to either 2 or 3 say "show_image_level": 2,
3. From the command line run: python3 main.py -i samples/sample1

## Expected behaviour
window size gets increased by

[2022-10-03 20:02] infinity1729 commented on #62
I am interested to solve this issue myself. @Udayraj123 Please assign this issue to me.

[2022-10-04 04:14] aksha123-git commented on #36
I would like to work on this issues please assign it to me

[2022-10-04 04:30] pixalquarks commented on #35
Hey, I would like to work on this

[2022-10-04 04:30] Udayraj123 commented on #36
Hi @aksha123-git , no problem! please go through the code once and discuss an approach for this on discord. Once we have a clarity on how to move forward I'll assign it to you. fyi there is one more person who has approached me to work on this. So better to start a discussion soon.

[2022-10-04 04:32] Udayraj123 commented on #35
@pixalquarks sure! have a look at the code and discuss your approach on discord with me. Then I can assign it to you :)

[2022-10-04 07:28] Udayraj123 commented on #41
Looking for Figma designers/Illustrators to create a design for this.

Discussion in `#general-ideas-discussion`: https://discord.com/channels/590134763784896514/1025078685105127464/1026035290143465522

[2022-10-04 07:40] bilal-aamer commented on #34
@Udayraj123 Can I address this issue as well? have some changes to-do!

[2022-10-04 16:59] Udayraj123 opened #65 "[Enhancement] Enhancements in schema validation"
1. All labels in all of the QBlocks should be covered in either Singles or concatenations.
2. Also none of the labels in qBlocks should overlap (show warning in this case)
3. User friendly messages: suggestion to convert key into camelCase (in which case validation error should mention that).

_Originally posted by @Udayraj123 in https://github.com/Udayraj123/OMRChecker/issues/60#issuecomment-1267

[2022-10-04 18:15] #62 closed

[2022-10-04 18:43] Udayraj123 commented on #34
@bilal-aamer sure. Let's discuss on discord channel

[2022-10-04 18:44] Udayraj123 commented on #34
Also you can create one new issue @bilal-aamer. I will be closing this as @Rohan-G has merged a PR against this issue

[2022-10-04 18:50] bilal-aamer commented on #34
Ok

[2022-10-04 18:54] Sandeep-1507 commented on #40
@Udayraj123 I want to try this same with a sample NEET 2022 OMR sheet,it can be shown publicaly.Should I do it?

[2022-10-04 19:00] Udayraj123 commented on #40
@Sandeep-1507 that would be great actually! As long as you can reference its source where you got the image from. We should be fine. Also we can avoid showing any student name, if present we can blur it.

[2022-10-04 19:17] Udayraj123 commented on #35
<img width="831" alt="image" src="https://user-images.githubusercontent.com/16881051/193906536-b8c62140-a7ce-431f-ac90-19de4e6fa1a3.png">

Use colorama for color encoding.

[2022-10-04 19:19] bilal-aamer commented on #35
Please state the relevent working path for 3.
@Udayraj123

[2022-10-04 19:20] Udayraj123 commented on #35
Search globally for `print("` and selectively edit above outputs from the screenshots @bilal-aamer

[2022-10-04 19:30] pixalquarks commented on #35
I was thinking of using rich, it directly supports logging, without using ansi tags. Plus it also has properly formatted traceback. Please look into it and lemme know if I should go with rich or stick to colorama

[2022-10-04 19:38] bilal-aamer commented on #35
Please assign the issue to me! @Udayraj123 !

[2022-10-04 19:47] bilal-aamer commented on #35
Lets go with the colorama for now as it gives a more friendly looking logs in the console @Udayraj123

[2022-10-04 19:54] Udayraj123 commented on #35
@bilal-aamer we shall evaluate them first as both seem useful. I've made this discussion here: https://discord.com/channels/590134763784896514/1025076621239140453/1026944631709126666

It seems rich will give us more valuable outputs as it also supports inbuilt log levels. @pixalquarks how about creating a sample log for above screenshot?

[2022-10-04 19:56] Udayraj123 commented on #35
@bilal-aamer have you run the samples as we discussed? Start a discussion on discord and propose your changes in order to get assigned.

Don't worry I can create a new ticket as this ticket seems to be broader and can be broken down into parts. especially point no. 3

[2022-10-04 20:02] Udayraj123 commented on #61
@ibrahimkilic We can introduce a new config in template.json for defining what to use for empty value.
I have asked in the community for anyone who can pick it up. We can discuss what should the schema be for most generalised version.

p.s. previously there was a variable used for this. Had to remove it because it would cause some issues in double-integer type questions.

[2022-10-04 20:21] Udayraj123 commented on #61
For now I can suggest a small hack in the [code here](https://github.com/Udayraj123/OMRChecker/blob/5e4985f/src/utils/imgutils.py#L912).

Add an `else` block there and put this(with correct indentation)
[code]

[2022-10-05 03:04] sanmay321 commented on #61
@ibrahimkilic hey I would like to work on this issue assign me, please.

[2022-10-05 06:28] Udayraj123 commented on #61
@sanmay321 we're following a process of discussing on discord before getting assigned. Please start a discussion over there :)

[2022-10-05 06:28] Udayraj123 commented on #61
let's discuss how to generalize

[2022-10-05 07:15] Udayraj123 commented on #43
@SpyzzVVarun discussed on discord. Let me know once all changes done..

[2022-10-05 07:37] asc249 opened #70 "[Linux] pip module not found issue on a fresh linux"
I was facing this issue <ERROR: /usr/bin/python3: No module named pip > when running this command:
$ python3 -m pip install --user --upgrade pip

![image](https://user-images.githubusercontent.com/37124092/194005989-6cd37c62-978a-4e44-b4ce-14c20158ff68.png)

[2022-10-05 07:47] Udayraj123 commented on #70
Great! Wanted someone with linux report an issue with setup!

Can you address this by changing Readme.md?

[2022-10-05 08:01] #34 closed

[2022-10-05 08:02] Udayraj123 commented on #42
Merged

[2022-10-05 08:02] #42 closed

[2022-10-05 08:03] Udayraj123 commented on #42
Creating a clone of this issue for further enhancements! Please feel free to pick this up again

[2022-10-05 08:04] Udayraj123 opened #71 "[Enhancement][Core] Improve output image labels"
This is an enhancement version of #42

Steps
1. Follow Readme to setup and run OMRChecker
2. Set show_image_level = 4 or 5
3. Run OMRChecker on sample images
4. For each image that you see, try to add appropriate labels to each output image using cv2.putText, etc so that they are more understandable. For any queries discuss in discord.
5. You can create them in separate PRs if needed.

**Note:** t

[2022-10-05 08:07] Udayraj123 commented on #70
@asc249 can you mention the solution in the comment as well?

[2022-10-05 08:10] asc249 commented on #70
Sure,
You can resolve this issue by running the following command:
![Screenshot from 2022-10-05 13-39-49](https://user-images.githubusercontent.com/37124092/194012175-3d50736b-54db-4d53-8a49-1577a5e64c8b.png)

[2022-10-05 08:10] Udayraj123 commented on #70
Cool. Let's mention this in the readme now.

[2022-10-05 08:18] Harsh-Kapoorr opened #72 "[Readme][Beginner] Add a dynamic Contribution Section"
I will add a section where it will show all the contributors profile image and will have a nice tagline too.
Please assign me this under Hacktoberfest.

Thanks & Regards

[2022-10-05 08:25] Udayraj123 commented on #72
There you go: https://github.com/users/Udayraj123/projects/1

[2022-10-05 08:37] Udayraj123 commented on #40
linking https://github.com/Udayraj123/OMRChecker/pull/64

[2022-10-05 09:10] UjjwalMahar opened #73 "[New Idea][Non Core] Document photo plugin (help wanted)"
So,This is about my idea of creating a **Document photo scanner**.

This is from my real life instance where we had a pile load of documents which contained passport size photos of candidates on the top right of the page and we wanted to extract photos from it.

What we did was first he scanned the document and then imported it in a photo editor then cropped photos from each document and obviously

[2022-10-05 09:27] Udayraj123 commented on #72
Make sure to push into same PR https://github.com/Udayraj123/OMRChecker/pull/67

[2022-10-05 09:28] #70 closed

[2022-10-05 09:55] infinity1729 commented on #44
I made following observations:
- If `show_image_level` is 1 and any value of `save_image_level` which is greater than 3, the output stack would include max 3 stacks.
-  `save_image_level` values >=5 saves only stack 1,2,3,5. (i.e. stack 4 is missing)
- Executing code with `save_image_level` lesser than it's previous values (say `save_image_level=5` then `save_image_level=3`) keeps the extra stacks

[2022-10-05 09:55] Udayraj123 commented on #73
Let's make it as a processor plugin first, later you can create your own project/repo for extracting photos. As there is no template needed in your case.

For plugin case, we need to preserve OMR responses and then add path to the extracted photo

[2022-10-05 10:22] Udayraj123 commented on #41
One more browser idea: implementing this via webcam integration

https://www.youtube.com/watch?v=OyZVtN9PVOA

[2022-10-05 10:29] Udayraj123 commented on #72
See bottom of this for reference https://github.com/python-geeks/Automation-scripts/blob/main/README.md

[2022-10-05 10:51] Harsh-Kapoorr commented on #72
Yes I got it I will make it look good trust me!!

On Wed, Oct 5, 2022 at 4:00 PM Udayraj Deshmukh ***@***.***>
wrote:

[2022-10-05 12:22] Udayraj123 commented on #35
Can anyone share their PRs here? @bilal-aamer @pixalquarks

[2022-10-05 14:35] bilal-aamer commented on #72
@Udayraj123 Can I be assigned to this issue as well?

[2022-10-05 15:09] SpyzzVVarun commented on #65
We can close the previous issue and update this one.

[2022-10-05 17:15] Harsh-Kapoorr commented on #72
Sorry I messed up with Branch and stuff and had to close that PR, so please check again and merge the PR if perfect

[2022-10-05 17:20] ig77ayush commented on #71
Please assign this issue to me

[2022-10-05 18:17] udayraj-rzp commented on #73
created a `feature/extract-photo` branch for this. @UjjwalMahar you can work on it in your own time.

[2022-10-05 18:18] udayraj-rzp commented on #73
created a `feature/extract-photo` branch for this. @UjjwalMahar you can work on it in your own time.

[2022-10-05 18:19] Udayraj123 commented on #73
created a `feature/extract-photo` branch for this. @UjjwalMahar  you can work on it in your own time.

[2022-10-05 18:22] Udayraj123 commented on #72
@bilal-aamer it is already taken up.

[2022-10-05 18:28] Udayraj123 commented on #72
Merged

[2022-10-05 18:28] #72 closed

[2022-10-05 18:30] Udayraj123 commented on #71
Can you discuss the approach on discord before getting assigned?

[2022-10-05 18:31] Udayraj123 commented on #43
Merged https://github.com/Udayraj123/OMRChecker/pull/60

[2022-10-05 18:31] #43 closed

[2022-10-06 08:24] infinity1729 opened #83 "[Bug] `save_image_level` includes max 3 stacks(for all values>=3) when `show_image_level` is 1"
**Describe the bug**
referring to the comment on issue #44
Following undesirable action is being performed:
- If show_image_level is 1 and any value of save_image_level which is greater than 3, the output stack would include max 3 stacks.

**To Reproduce**
1. Open `\src\defaults\config.json`
2. Line 24: Set `show_image_level=1`
3. Line 25: Set `save_image_level=5`
4. From the command line run: `py

[2022-10-06 16:59] SpyzzVVarun commented on #65
In #43 we **added a json schema**, which is basically a blueprint for the input template.json file, **that validates the template file** and we wrote a function that validates the template using python jsonschema library. Both the schema and the error messages need a lot of improvement and that is where this issue comes in.

1. Talking about **improvements in the validation schema**, we have to wr

[2022-10-07 01:11] grgkaran03 commented on #39
Hi, I would like to take up this issue.
Can you please tell me the approach to how I can start working on this?

[2022-10-07 03:02] Udayraj123 commented on #39
Hi @grgkaran03, thanks for showing interest. Let's discuss it on discord and then you can share your brief summary of things to do over here in a comment. Ping me in the channel mentioned in the description.

[2022-10-07 03:05] Udayraj123 commented on #43
extended in https://github.com/Udayraj123/OMRChecker/issues/65

[2022-10-07 03:09] Udayraj123 commented on #65
Well detailed breakdown 👍
you(and others) can raise PRs in small mergeable/deliverable chunks as we discussed yesterday. Reiterating that discussion here as well for reference.

I'll share a concept I shared with one of you recently.

This comes from Agile development practiced in the industry.

<img width="1115" alt="image" src="https://user-images.githubusercontent.com/16881051/194459687-35d219f

[2022-10-07 03:22] Udayraj123 opened #85 "[Getting Familiar][Refactor] list out hardcodings in the preprocessors"
**Describe the bug**
There are some hardcodings in the codebase(some of which are tagged by a todo comment). We need to remove them and pick them up from configuration/command line. The first step would be to list out the hardcoded values in a comment below.
Then we'll break it down into new issues to fix them in parts.

**To Reproduce**
One example is from `src/processors/CropPage.py` : the param

[2022-10-07 03:27] tuxo commented on #85
can i be assigned to this one? ☺️

[2022-10-07 13:03] 05Alston opened #86 "[Bug] Templates getting merged."
**Describe the bug**
When running the program for multiple sample types, the templates seem to be merged with that of the previous iteration. This causes rectangles and labels to be generated where it shouldn't be.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the project.
2. In `src/defaults/config.json` set the 'show_image_level' to either 4 or 5.
3. Run the command `python main.py

[2022-10-07 21:10] Udayraj123 commented on #83
merged first part 🎉

[2022-10-07 23:48] Kurtsley commented on #86
I'll give it a shot.

[2022-10-08 09:43] 05Alston commented on #37
Hey, is someone working on this issue? If not, I'd like to try it out. One question, what language is this frontend supposed to be? a web based HTML/React or something like PyQt?

[2022-10-08 12:09] infinity1729 opened #88 "[Bug] changing `show_image_level` gives undesirable results"
**Describe the bug**
when `show_image_level=3`, we get 3 different stack of images (that are: Warped Sheet,Final Alignment Adjustment, Final marked bubbles). However when `show_image_level=4` we get only 2 stack of images (that are: Final Alignment Adjustment, Final marked bubbles)

**To Reproduce**
Steps to reproduce the behavior:
1. Open `\src\defaults\config.json`
2. Line 24: Set `show_image_le

[2022-10-08 17:01] Udayraj123 commented on #37
@05Alston
This is quite open as it can be an optional/separate application module. We'll be ultimately moving the whole OMRChecker experience into the browser (https://github.com/Udayraj123/OMRChecker/issues/41), so yeah React is preferred. But it can be in any language of your choice as final deployed version can be used by the users.

The issue is for generating final template.json file (may cho

[2022-10-09 11:45] #86 closed

[2022-10-09 19:26] Udayraj123 commented on #73
To think about generalizing - this plugin can also be used to scan barcodes or QR codes from OMR sheets in the future.

[2022-10-09 20:20] Udayraj123 opened #89 "[Feature][Core] Implement a generalised evaluation script"
**Is your feature request related to a problem? Please describe.**
Need support for a customisable marking scheme with negative marking, section-wise marking, bonus questions, etc. Answer keys may exist for a test booklet code. We can also support custom logic via eval scripts for handling any other cases.

**Describe the solution you'd like**
Basic evaluation scheme can be stored in template.json

[2022-10-10 21:13] Udayraj123 commented on #40
yes can do! just make sure there's some new varieties

[2022-10-11 05:06] kushcoder12 commented on #88
I would like to work on it.

[2022-10-11 19:55] Udayraj123 opened #92 "[Bug] Fix global thresholding for a singleton qBlock case"
**Describe the bug**
 For the case of a non-bubbled OMR sheet with single column qBlock(singleton "vals"), the global thresholding logic fails to interpret the OMR response correctly. Example json:
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Use sample provided in PR  https://github.com/Udayraj123/OMRChecker/pull/91
2. Run `python3 main.py -i samples/community/ibrahimkilic`
3. Cu

[2022-10-11 20:16] Udayraj123 commented on #65
@SpyzzVVarun adding few more criteria

- inner schema of each QBlock should be validated too.
- singles array should not contain duplicate qNos
- concatenations keys + arrays should not contain duplicate qNos

[2022-10-11 20:31] Udayraj123 commented on #73
Keeping this only in project board for now.

[2022-10-12 10:36] #61 closed

[2022-10-12 10:37] #92 closed

[2022-10-13 05:10] ibrahimkilic commented on #61
Thanks, bro...

[2022-10-13 15:16] Udayraj123 commented on #89
Some links:
- [Previous attempt for answer key object](https://github.com/Udayraj123/OMRChecker/commit/417021a4c419e4b70fa12b3c622c73b4f6243140#diff-a9dbd1120a04a7e2cf9f4dce14795594dfab25e48ee77b6469c7cabf841da1cbR101) - also supported 'streaks' of correct answers.
- [Evaluate function](https://github.com/Udayraj123/OMRChecker/blob/5487a22/main.py#L154)
- [Discord discussion](https://discord.com/c

[2022-10-15 07:07] Udayraj123 commented on #88
@kushcoder12 please discuss your approach on discord before getting assigned

[2022-10-15 07:07] Udayraj123 commented on #71
@ig77ayush let me know if you still want to work on it

[2022-10-15 07:08] Udayraj123 commented on #44
@infinity1729 let me know once you have any update

[2022-10-15 12:40] Udayraj123 commented on #41
Excuse me for less quality. Original images from the [discord message](https://discord.com/channels/590134763784896514/1025078685105127464/1026035290143465522) can be accessed [here](https://cdn.discordapp.com/attachments/1025078685105127464/1026035254005346316/Screenshot_2022-10-02_at_1.07.23_PM.png), [here](https://cdn.discordapp.com/attachments/1025078685105127464/1026036410576289852/Screenshot

[2022-10-15 14:27] infinity1729 commented on #88
@Udayraj123 I am interested to work on this, can you please assign it to me.

[2022-10-15 19:15] aayushibansal2001 commented on #71
I want to work on this issue. Please assign it to me.

[2022-10-15 19:55] Udayraj123 commented on #71
@aayushibansal2001 sure, adding link to block diagrams here as well: https://github.com/Udayraj123/OMRChecker/wiki/Diagrams#block-diagrams

[2022-10-15 20:48] #47 closed

[2022-10-16 07:28] #35 closed

[2022-10-16 09:51] infinity1729 commented on #44
Sure, currently working on issue #88

[2022-10-20 04:04] Udayraj123 commented on #36
@aksha123-git let me know if there are any updates or any help needed :)

[2022-10-21 10:03] aayushibansal2001 opened #97 "[Bug] Unexpected output in `Template Alignment Adjustment` for the sample `\community\Sandeep-1507/CheckedOMRs/omr-1.png`"
**Describe the bug**
While running the code with below configurations, the preview of `Template Alignment Adjustment` shows unexpected output. The text is not legible, which is due to incorrect spacing of the text displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. set `"show_image_level": 3` in `src\defaults\config.json`
2. In the terminal run `python3 main.py -i samples/community/Sa

[2022-10-21 10:06] Udayraj123 commented on #97
@aayushibansal2001 update the command with path to the specific sample.

[2022-10-21 17:18] Udayraj123 commented on #40
Added ideas for different types of OMR sheets.

[2022-10-22 05:58] dojutsu-user commented on #97
Hi @Udayraj123,
Taking this issue up. Can you please assign me this.

[2022-10-22 06:01] Udayraj123 commented on #97
I think the author is working on the issue already. But a discussion would help finalize an approach. Can you discuss it on discord @dojutsu-user?

[2022-10-22 06:01] Udayraj123 commented on #97
Also, if you're just starting, how about making a submission on #40 ?

[2022-10-22 19:13] Udayraj123 commented on #83
@infinity1729 shall I close this issue? Maybe we can create a new one so that new people can pick it up as well

[2022-10-22 19:13] Udayraj123 commented on #85
@tuxo any updates?

[2022-10-22 19:14] Udayraj123 commented on #65
This issue needs a bit more attention now.

[2022-10-22 20:21] Rohan-G commented on #89
Current schema for evaluation:

In the tempalte.json, we include a Solution section, with the data for each question ([qNo] : [[Answers,mark1],[Answers,mark2],['*DEFAULT*',Default_marks]]) as a general set of rules with more details as given below:

Schema flexibility:

    Double digit integer                                       - { [qNo] : ['4', '04'] }
    Double digit integer(X is provided i

[2022-10-23 06:04] udayraj-rzp commented on #39
@grgkaran03 any updates?

[2022-10-23 06:09] Udayraj123 commented on #39
Hi @grgkaran03, any updates/need help with anything?

[2022-11-02 06:56] Udayraj123 commented on #97
Also part of the PR that fixes https://github.com/Udayraj123/OMRChecker/issues/71

[2022-11-02 06:57] Udayraj123 commented on #73
reopening for new contributors with an experience in Image Processing and also OCR to look into.

[2022-11-02 06:57] Udayraj123 commented on #5
closing as Readme reflects the norm to do discussions on discord

[2022-11-02 06:57] #5 closed

[2022-11-06 11:13] shreekrishnaacharya opened #99 "[Feature]"
Can we also add Optical character reader in this application for reading student names and other detail?

[2022-11-21 10:28] GeorgiaMayDay commented on #85
Since @tuxo hasn't updated his progress in a while I'm going to have a lookthrough for hardcodings

[2022-11-21 11:12] GeorgiaMayDay commented on #85
Since @tuxo hasn't updated this issue in over a month, I thought I'd try it

[2022-11-21 11:16] GeorgiaMayDay commented on #85
Line 336 in core.py
Score should be automatically evaluated but it currently hardcoded as a constant
![image](https://user-images.githubusercontent.com/115997517/203036538-3af7e548-a8c4-4ad6-a1d9-47bd905ed802.png)

After line 25 in CropOnMarkers
Hardcode: relativePath: “Omr_marker.jpg” are both set up in the template json samples – could this not be gotten from there?
![image](https://user-images.

[2022-11-21 11:19] GeorgiaMayDay commented on #85
I noticed some other minor issues apart from hardcoding I highlighted under other

[2022-11-28 09:17] Adwait01-Bhosale commented on #99
Hello, I can clearly contribute to this issue. As I have many a times worked upon tesseract OCR, Vision API OCR, and Microsoft OCR wherein I had made changes in the OCR by computer vision techniques like gray scaling the image and even giving it proper contrast to read the text accurately.

[2022-11-28 13:04] shreekrishnaacharya commented on #99
Thank you Adwait01. i am also working on this OCR part and would appreciate your part of contribution. actually i am working on my thesis and i need to read document that consist of Mark and some text character. You contribution would be very helpful. Thank you

[2022-11-30 06:46] Udayraj123 commented on #99
Hi @Adwait01-Bhosale, that's great to hear! Can you and @shreekrishnaacharya join on over discord and discuss possible solutions with me?

[2022-11-30 06:47] Udayraj123 commented on #99
Here is a related issue for which I have framed a solution - https://github.com/Udayraj123/OMRChecker/issues/73

[2022-11-30 06:49] Udayraj123 commented on #85
Hi @GeorgiaMayDay, sorry I missed above comment. Will check soon. I hope you've joined over discord as well(I tend to respond quicker there)